<div data-controller="calculator-visibility">
  <div class="bg-gray-50 text-2xl font-bold text-center mb-8 hover:bg-green-200">
    <button
      data-action="calculator-visibility#toggleCalculatorVisibility"
      class="text-black font-bold py-2 px-4 rounded-md"
    >
      Calculadora Basica
    </button>
  </div>

    <div id="calculator" class="container mx-auto p-4 hidden">
      <%= render partial: 'basic_calculator' %>
    </div>
</div>

<div data-controller="calculator-visibility">
  <div class="bg-gray-50 text-2xl font-bold text-center mb-8 hover:bg-green-200">
    <button
      data-action="calculator-visibility#toggleDerivativeCalculatorVisibility"
      class="text-black font-bold py-2 px-4 rounded-md"
    >
      Calculadora de derivadas
    </button>
  </div>

  <div id="derivative_calculator" class="hidden max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
    <%= render partial: 'derivative_calculator' %>
  </div>
</div>

<div data-controller="calculator-visibility">
  <div class="bg-gray-50 text-2xl font-bold text-center mb-8 hover:bg-green-200">
    <button
      data-action="calculator-visibility#toggleLinearEquationsVisibility"
      class="text-black font-bold py-2 px-4 rounded-md"
    >
      Calculadora de Ecuaciones Lineales en Dos Variables
    </button>
  </div>

  <div id="linear_equations" class="hidden max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
    <%= render partial: 'linear_equations' %>
  </div>
</div>
