<div class="p-4">
  <div class="mb-4 flex justify-start">
    <%=
      link_to t(".title_create"), new_study_unit_path,
      class: 'text-lg p-4 font-bold bg-green-500 text-white
              rounded hover:bg-green-600'
    %>
  </div>

  <section class="bg-white shadow-md rounded-lg p-6">
    <%= render partial: "unit", collection: @study_units %>
  </section>
</div>
