
<section class="flex flex-col md:flex-row items-center justify-center">
  <div class="w-full pt-48 flex justify-center">
    <div>
      <h2 class="text-6xl italic text-black text-center md:text-center">Bienvenido a Infinite Math</h2>
      <p class="text-3xl text-black mt-4 text-center md:text-center">
        Aprende y practica conceptos matemáticos avanzados de una manera interactiva y dinámica.
      </p>
      <div class="flex justify-center mt-4">
        <a class="text-lg hover:underline text-green-900 p-4 inline-block">Comenzar -></a>
      </div>
    </div>
  </div>
</section>

<section class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-20">
  <div
    data-controller="modal"
    class="bg-stone-100 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300"
  >
    <h3 class="text-xl font-semibold text-gray-800">Teoría</h3>
    <p class="text-gray-600 mt-2">
      Aprende los conceptos básicos y avanzados de matemáticas y geometría analítica.
    </p>
    <button
      id="openModal"
      data-action="modal#showModal"
      type="button"
      class="bg-green-900 rounded text-white mt-4 px-4 py-2"
    >
      Empezar
    </button>

    <div
      id="myModal"
      class="fixed inset-0 bg-black bg-opacity-50 hidden"
    >
      <div class="flex items-center justify-center w-full h-full">
        <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg w-full">
          <h2 class="text-2xl font-bold mb-4">Matemáticas</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-stone-100 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
    <h3 class="text-xl font-semibold text-gray-800">Problemas</h3>
    <p class="text-gray-600 mt-2">Practica con problemas y ejercicios para mejorar tus habilidades.</p>
    <button
      id="openModal"
      type="button"
      class="bg-green-900 rounded text-white mt-4 px-4 py-2"
    >
      Empezar
    </button>
  </div>

  <div class="bg-stone-100 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
    <h3 class="text-xl font-semibold text-gray-800">Graficos</h3>
    <p class="text-gray-600 mt-2">Digite ecuaciones geometricas y grafique sus planos.</p>
    <button
      id="openModal"
      type="button"
      class="bg-green-900 rounded text-white mt-4 px-4 py-2"
    >
      Empezar
    </button>
  </div>
</section>