
<header class="bg-white text-green-900">
  <nav class="container mx-auto flex justify-between items-center p-8">
    <h1 class="text-5xl">Infinite Math</h1>
    <div class="flex space-x-2">
      <a href="#" class="p-4 bg-green-900 rounded text-white">Iniciar Sesión</a>
      <a href="#" class="p-4 bg-green-900 rounded text-white">Registrarse</a>
    </div>
  </nav>
</header>
