<%= link_to t(".title_create"), new_study_branch_path,
      class: 'text-2xl p-8 font-bold hover:underline' %>

<div class="p-6">
  <section class="bg-white shadow-md rounded-lg p-6">
    <%= render partial: 'branch', collection: @study_branches %>
  </section>
</div>
