<div class="p-6 flex flex-col items-center">
  <div class="p-6 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700">
    <h3 class="font-bold text-lg">Próximamente</h3>
    <p>¡Estamos trabajando para traerte esta funcionalidad muy pronto! Gracias por tu paciencia.</p>
  </div>
  <div
    data-controller="threejs"
    class="w-full max-w-2xl h-96 bg-white shadow-md rounded p-4 flex justify-center items-center"
  >
    <canvas
      data-threejs-target="canvas"
      class="w-full h-full max-w-[800px] max-h-[800px]"
    ></canvas>
  </div>
</div>